@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");

:root {
	--main-color: #000732;
	--secondary-color: #ffbf34;
}

a {
	color: var(--main-color);
	text-decoration: none;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Nunito", sans-serif;
}

.container {
	position: relative;
}

ul {
	list-style: none;
}

header {
	display: flex;
	align-items: center;
	padding: 20px;
	gap: 50px;
	background-color: var(--main-color);
	color: #fff;
}

header a {
	color: #fff;
}

.nav-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1;
}

form {
	border-radius: 4px;
	width: 400px;
	display: flex;
	overflow: hidden;
}

input {
	padding: 8px 16px;
	border: none;
	outline: none;
	flex-grow: 9;
}

form .btn {
	flex-grow: 1;
	border-radius: 0;
}

.cart-btn {
	position: relative;
}

.cart-amount {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
	background-color: #fff;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.categories {
	display: flex;
	align-items: center;
	padding: 20px;
	justify-content: space-between;
	background-color: var(--secondary-color);
	color: var(--main-color);
}

.category.active {
	background-color: var(--main-color);
	color: #fff;
}

.products,
main {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
	padding: 40px 20px;
	gap: 40px;
}

.product {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 10px;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	background-color: #eee;
	min-height: 730px;
}

.product-image {
	width: 100%;
	aspect-ratio: 1 / 1;
	margin-bottom: 3cqmin;
	background-color: #fff;
	border-radius: 10px;
	overflow: hidden;
}
.product-image img {
	width: 100%;
}

.product-name {
	margin-top: 20px;
}

.product-description {
	font-size: 14px;
	padding: 0 15px;
	margin-top: 30px;
	line-height: 1.6;
	color: #676565;
}

.product-price {
	margin: 30px 0 20px;
}

.btn {
	border: none;
	background-color: var(--secondary-color);
	color: var(--main-color);
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
}

.product .btn {
	margin: auto 0 10px 0;
}

.product-view {
	max-width: 500px;
	margin: 0 auto;
}

.product-rating {
	margin: 15px 0;
}

.rating {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.rating .stars {
	color: gold;
}

.product-view .product-image {
	height: 200px;
	width: auto;
}

.popup {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	padding: 20px;
	font-size: 20px;
	border-radius: 20px;
	background-color: #fff;
	box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.2);
	gap: 20px;
}

.popup button {
	margin: 0;
}

.loading {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 500px;
	margin: 0 auto;
}

.loading div {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	position: relative;
	border: 5px solid;
	border-color: var(--main-color) transparent var(--main-color) transparent;
	animation: loading 1s linear infinite;
}

.cart-board {
	display: flex;
	justify-content: space-between;
}

.cart-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	width: 600px;
}

.cart-product {
	display: flex;
	align-items: center;
	gap: 40px;
	background-color: #eee;
	padding: 20px;
	border-radius: 5px;
	width: 100%;
}

.cart-product .product-image {
	height: 160px;
	width: auto;
}

.cart-product .product-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cart-action {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	height: fit-content;
	gap: 20px;
	border: 3px solid #676565;
	margin: 0 40px;
	padding: 20px;
	border-radius: 10px;
}

@media (max-width: 767px) {
	header,
	.nav-list {
		flex-direction: column;
		gap: 20px;
		align-items: center;
	}

	header li:not(:first-child) {
		margin: 10px 0;
	}

	form {
		width: auto;
		margin-bottom: 10px;
	}

	j .products,
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.product {
		min-width: 80%;
	}

	.categories {
		flex-direction: column;
	}

	.cart-list {
		width: 100%;
	}

	.cart-product {
		flex-direction: column;
		align-items: center;
		gap: 20px;
	}

	.cart-product .btn {
		margin-top: 20px;
	}

	.product-name {
		font-size: 20px;
	}

	.cart-board {
		flex-direction: column;
		gap: 20px;
	}

	.cart-action {
		margin: 0;
		order: -1;
	}
}

@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
